@import "variables";
@import "normal";

body {
   color: $basic;
}

h1.title {
   font-size: 3em;
   text-align: center;
}

li {
   background: rgb(181, 235, 188);
   margin: 0.2em 0;
   padding: 0.1em 0.5em;
}

.container {
   max-width: 1080px;
   margin: 0 auto;
   margin-left: 2em;
}

.nav-header {
   margin: 1em 0;

   & img {
      width: 2em;
      margin-right: 0.9em;
   }
}
