@import "variables";
@import "normal";

body {
   color: $basic;
}

h1.title {
   display: block;
   font-size: 2em;
   text-transform: uppercase;
   text-align: center;
   margin-top: 0.5em;
}

li {
   font-size: 1.2em;
   background: rgb(181, 235, 188);
   margin: 0.2em 0;
   padding: 0.1em 0.5em;
}

.container {
   max-width: 1080px;
   margin: 0 auto;
}

.nav-header {
   margin: 1em 0;

   & img {
      width: 2em;
      margin-right: 0.9em;
   }
}
